<%= BigGoal.all.last.id %>


<div class = 'age-nav'>
	<p>10대</p>
	<p>20대</p>
	<p>30대</p>
	<p>40대</p>
	<p>50대</p>
	<p>60대</p>
	<p>70대</p>
	<p>80대</p>
	<p>90대</p>
</div>

<section id="cd-timeline">

	
	<div class="cd-timeline-block">
		<div class="cd-timeline-img age-1"></div>
 
		<div class="cd-timeline-content">
			<span class="cd-date">10살</span>
		</div>
	</div>
 
 	<div class="cd-timeline-block">
		<div class="cd-timeline-img age-2">
			<!--<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnlVSxsMrtJEqh6cLypnymHQbtQ0HwGImBLleGwsaoqsByHacwK69ycQ">-->
		</div> <!-- cd-timeline-img -->
 
		<div class="cd-timeline-content">
			<h2>Title of section 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisic<br>ing elit. Iusto, optio,<Br> dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
			<a href="#0" class="cd-read-more">Read more</a>
			<span class="cd-date">20살</span>
		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->
 
 
 
 	<div class="cd-timeline-block">
		<div class="cd-timeline-img age-2">
			<!--<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnlVSxsMrtJEqh6cLypnymHQbtQ0HwGImBLleGwsaoqsByHacwK69ycQ">-->
		</div> <!-- cd-timeline-img -->
 
		<div class="cd-timeline-content">
			<h2>Title of section 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisic<br>ing elit. Iusto, optio,<Br> dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
			<a href="#0" class="cd-read-more">Read more</a>
			<span class="cd-date">30살</span>
		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->
 
 
 
 	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<!--<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnlVSxsMrtJEqh6cLypnymHQbtQ0HwGImBLleGwsaoqsByHacwK69ycQ">-->
		</div> <!-- cd-timeline-img -->
 
		<div class="cd-timeline-content">
			<h2>Title of section 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisic<br>ing elit. Iusto, optio,<Br> dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
			<a href="#0" class="cd-read-more">Read more</a>
			<span class="cd-date">40살</span>
		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->
 
 
 
 
 
 	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<!--<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnlVSxsMrtJEqh6cLypnymHQbtQ0HwGImBLleGwsaoqsByHacwK69ycQ">-->
		</div> <!-- cd-timeline-img -->
 
		<div class="cd-timeline-content">
			<h2>Title of section 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisic<br>ing elit. Iusto, optio,<Br> dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
			<a href="#0" class="cd-read-more">Read more</a>
			<span class="cd-date">50살</span>
		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->
</section>
