<div id = 'write-small-goal'>

    <div id="header">
        <h1>목표추가</h1>
    </div>
    
    
    <div class="title">
        <div>제목</div>
        <input type="text" value="사업자 등록하기">
    </div>
    
    
    <div id="biggoal">
        <div class="subject">분류</div>
        <div class="list">
            <div class="list-container">
                <div class="list-item">
                    <div style='background: #00a0ea;'></div>
                    <div style="">사업 성공</div>
                    <input type="checkbox" checked="checked">
                </div>
        
                <div class="list-item">
                    <div style='background: #0ba29b;'></div>
                    <div style="">화목한 가정</div>
                    <input type="checkbox">
                </div>
            </div>
    
            <div class="add_cate">
                <div></div>
                <input type="text" placeholder="인생 목표 추가...">
                <a href="#" class="add">
                    <img src="https://scontent-nrt1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10620522_913890425343231_3497715089682698679_n.jpg?oh=b3704d0bd6b74af5ce5da0b9ee5c8208&oe=566F2EEB">
                </a>
            </div>
        </div>
    </div>


    <div id="due">
        <div class="subject">기한</div>
        
        <select class="year">
            <option value="2015" selected>2015(21세)</option>
            <option value="2016">2016(22세)</option>
            <option value="2017">2017(23세)</option>
            <option value="2018">2018(24세)</option>
            <option value="2019">2019(25세)</option>
            <option value="30">30대</option>
            <option value="40">40대</option>
            <option value="50">50대</option>
            <option value="60">60대</option>
        </select>
    
        <select class="month">
            <option value="1">1월</option>
            <option value="2">2월</option>
            <option value="3">3월</option>
            <option value="4">4월</option>
            <option value="5">5월</option>
            <option value="6">6월</option>
            <option value="7">7월</option>
            <option value="8">8월</option>
            <option value="9" selected>9월</option>
            <option value="10">10월</option>
            <option value="11">11월</option>
            <option value="12">12월</option>
        </select>
    </div>


    <div id="public-range">
        <div  class="subject">공개설정</div>
        <div class="toggleA">
            <a href="#" style="opacity:1;"><img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/11923611_914021548663452_2559509833610606154_n.jpg?oh=0aba9fada3587835f19a2b0631735c5a&oe=5676C55A&__gda__=1450931248_4ab7d9f7c20e824ec98647d29427060d">전체공개 </a>
            <a href="#"><img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/11953061_914021551996785_2772896321761174743_n.jpg?oh=d7e72fddf07f9e0c8b3f001bd33ed76d&oe=566DD282&__gda__=1451093259_5871711218c84d4d7f52c984d6c1259d">친구공개 </a>
            <a href="#"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/11221406_914012915330982_1075525643420960639_n.jpg?oh=3e84a81e8ad71511e16be4ccda67be23&oe=56732712&__gda__=1449772970_06c3773f17def087b84d4fb59d52dbcd">비공개</a>
        </div>
    </div>

    <script>
        $('.toggleA a').click(
    function() { 
                $(this).siblings().css('opacity', '0.4'); 
                $(this).css('opacity', '1'); 
            } 
        ); 
    </script>


    <div id="plan-list">
        <div>실행계획</div>
        <br>
        <div class="list-item">
            <div class="doplan-line">
                웹사이트 개발하기
                <input type="checkbox" checked="checked" name="option">
                <img src="https://cdn4.iconfinder.com/data/icons/geomicons/32/672366-x-128.png">
                <img src="http://goo.gl/ntkbMh">
            </div>
            <div class="doplan-line">
                웹사이트 개발하기
                <input type="checkbox" checked="checked" name="option">
                <img src="https://cdn4.iconfinder.com/data/icons/geomicons/32/672366-x-128.png">
                <img src="http://goo.gl/ntkbMh">
            </div>
    
            
        </div>
    
    
        <div class="add-plan">
            <input type="text" placeholder="실행 계획 추가...">
            <a href="#"><img src ="https://scontent-nrt1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10620522_913890425343231_3497715089682698679_n.jpg?oh=b3704d0bd6b74af5ce5da0b9ee5c8208&oe=566F2EEB"></a>
        </div>
    </div>


    <div id="footer" style="margin:10px 13px 9px 13px">
        <a href="#"><div style="width:180px;padding-top:5px;height:30px;text-align:center;color:white;background-color:#5a5657;display:inline-block">추가</div></a>
        <a href="#"><div style="margin-left:5px;width:180px;padding-top:5px;height:30px;text-align:center;color:white;background-color:#5a5657;display:inline-block">취소</div></a>
    </div>

</div>
