.age-nav{
  position: fixed;
  right: 30px;
  z-index: 100;
}
.age-nav p{
  padding-left: 10px;
  border-left: solid 4px gray;
}



/* -------------------------------- 

Main components 

-------------------------------- */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  width:80%;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}




.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}





.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  //box-shadow: 0 0 0 4px black, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  z-index: 10;
  margin-left: 13px;
  margin-top: 0;
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 14px;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    margin-top: 2.85em;
  }
}




.cd-timeline-content {
  position: relative;
  background: white;
  border-radius: 0.25em;
}
.cd-timeline-content .cd-date {
  float: left;
  opacity: .7;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.content-header{
  height: 1.5em;
}
.arrow_box {
   position: relative;
   background: #446e6b;
   border-left: 10px solid #ffffff;
   height: 3.7em;
   padding-top: 15px;
   padding-bottom: 10px;
   margin: 0px;
}
.arrow_box h1{
  position: absolute;
  left: 25%;
  color: white;
  padding: 0px;
  margin: 0px;
  font-size:20px;
}
.arrow_box h2{
  position: absolute;
  left: 0%;
  bottom: 5%;
  text-align: left;
  color: white;
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
  font-size:15px;
}

.arrow_box::after {
   right: 100%;
   top: 50%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-color: rgba(68, 110, 107, 0);
   border-right-color: #446e6b;
   border-width: 10px;
   margin-top: -10px;
}


.content-line {
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;
  border-bottom: 1px solid #333333;
}

.content-line input, .content-line button, .content-header button{
  width: 1em;
  height: 1em;
  float: right;
  margin-right: .5em;
  margin-top: 1%;
}



@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    width: 40%;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 123%;
    top: 6px;
    font-size: 16px;
    font-size: 1em;
  }
  
  .cd-timeline-block:nth-child(odd) .arrow_box::after {
     left: 100%;
     top: 50%;
     border: solid transparent;
     content: " ";
     height: 0;
     width: 0;
     position: absolute;
     pointer-events: none;  
     border-color: rgba(68, 110, 107, 0);
     border-left-color: #446e6b;
     border-width: 10px;
     margin-top: -10px;
  }

  
  .cd-timeline-block:nth-child(odd) .cd-timeline-content {
    float: left;
    left: 8%;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
    right: 9%;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 123%;
    text-align: right;
  }
}
